<mat-tab-group>
  <mat-tab label="All">
    <mat-list>
      @for (todo of todos(); track todo.id) {
        <app-todo-item
          [todo]="todo"
          (edit)="openForm(todo)"
          (remove)="delete(todo)">
        </app-todo-item>
      }
    </mat-list>
  </mat-tab>

  <mat-tab label="Active">
    <mat-list>
      @for (todo of todos(); track todo.id) {
        @if (!todo.completed) {
          <app-todo-item
            [todo]="todo"
            (edit)="openForm(todo)"
            (remove)="delete(todo)">
          </app-todo-item>
        }
      }
    </mat-list>
  </mat-tab>

  <mat-tab label="Completed">
    <mat-list>
      @for (todo of todos(); track todo.id) {
        @if (todo.completed) {
          <app-todo-item
            [todo]="todo"
            (edit)="openForm(todo)"
            (remove)="delete(todo)">
          </app-todo-item>
        }
      }

      <mat-list-item class="delete-all-btn">
        <div matListItemMeta>
          <button mat-stroked-button color="primary" (click)="deleteAllCompleted()">
            <mat-icon>delete</mat-icon>
            Delete all completed
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>


<button mat-fab color="primary" class="add-btn" (click)="openForm()">
  <mat-icon>add</mat-icon>
</button>
