.list-container {
  padding: 0.5rem;
  margin: 1rem;
}

.add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.todo-text {
  display: flex;
  flex-direction: column;
}

.meta {
  font-size: 0.75rem;
  color: gray;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.due-date {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
  margin-right: 0.5rem;
}

.small-icon mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.edit-icon mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.delete-all-btn {
  margin-top: 3rem;
}