<mat-list-item>
  <mat-checkbox
    [checked]="todo().completed"
    (change)="onToggle(todo().id!, $event.checked)">
    
    <div class="content">
      <div class="description">{{ todo().description }}</div>
      
      <div class="meta">
        Created: {{ todo().creationDate | date:'mediumDate' }}
        @if (todo().completed && todo().completionDate) {
          • Completed: {{ todo().completionDate | date:'mediumDate' }}
        }
      </div>
    </div>
  </mat-checkbox>

  <div matListItemMeta class="actions">
    <span class="due-date">
      @if (todo().dueDate) {
        Due: {{ todo().dueDate | date:'mediumDate' }}
      }
    </span>

    <button mat-icon-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    
    <button mat-icon-button (click)="onDelete()">
      @if (todo().loading) {
        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
      } @else {
        <mat-icon>delete</mat-icon>
      }
    </button>
  </div>
</mat-list-item>
